html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure the container uses the full height of the viewport */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  flex-shrink: 0;
}

.header-left .username {
  font-weight: bold;
  font-size: 1.2em;
}

.header-right .app-title {
  font-weight: bold;
  font-size: 1.2em;
}

main {
  display: flex;
  flex: 1;
  height: 90%; /* Ensures the main area fills the rest of the page */
  background-color: #FDF3E3;
}

aside{
  background-color: #F4E4C9;
  width: 20%;
  padding: 15px;
}

.groupsearchbar{
  margin-left: 5%;
  border: none;
  height: fit-content;
  width: 90%;
  background-color: #ffffff;
}

.search-input{
  height: 20;
  width: 100%;
}
.groupchat{
  margin-top: 2%;
  margin-left: 10%;
  width: 80%;
  color: rgb(0, 0, 0);
}

.find-match-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  margin-top: 20%;
  margin-left: 40%;

}

section{
  width: 80%;
  text-align: center;
  font-size: 60px;
  
}

#group-chat{
  display: block;
}

.test-button{
  background-color: blue;
  cursor: pointer;
}


